@use "../../styles/variables.scss" as *;
@use "../..//styles/mixins.scss" as *;

#footer {
  @include flex(center, center, column);

  width: 100%;
  height: 5rem;

  margin-top: 8rem;
  p {
    opacity: 20%;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  #footer {
    @include flex(flex-end, center, column);
    height: 2rem;

    margin-top: 5rem;
  }
  
}