@use "@/shared/styles/mixins.scss" as *;

.logo {
  @include focus-ring;
  display: inline-block;
  border-radius: var(--radius-sm);

  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}
